.footer 
            .footer-logo
                img(src='/img/logo-green.png' alt='Natours logo')
            ul.footer-nav 
                li: a(href='#') About us  
                li: a(href='#') Download apps 
                li: a(href='#') Become a guide 
                li: a(href='#') Careers 
                li: a(href='#') Contact
            p.footer-copyright &copy; by Aman Srivastava. All rights reserved.   

