extends base
block content 
    .main
        .forget-password-form
            h2.heading--secondary.bottom-margin Password Reset Activity
            form.form.form-forgetPass
                .form-group.margin-btm
                    label.form-label(for='email') Email address
                    input#email.form-input(type='email' placeholder='Enter your email' required='required')
               
                .form-group-btn
                    button.btn.btn-green Submit
                    